@import "tailwindcss";

.container {
  max-width: 1280px;
  margin-inline: auto;
}

@theme {
  --color-white-custom: #FFF7F5;
  --color-primary: #E85D3F;
  --color-primary-hover: #D94A2C;
  --color-primary-text: #1F2937;
  --color-secondary-text: #6B7280;
  --font-body: ['var(--font-body)'];
  --font-heading: ['var(--font-heading)'];
  --font-poppins: ['var(--font-poppins)'];
}